<html>
  <head>
    <title>Ola's blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Django Girls Blog</a></h1>
    </div>

{% for post in posts %}
  <div>
      <p>published: {{ post.published_date }}</p>
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.text|linebreaksbr }}</p>
  </div>
{% endfor %}


    <div>
      <p id="RealtimeClockArea"></p>

      <h2><a href="">My first post</a></h2>
      <p>こんにちは！よろしくお願いいたしますね！</p>
      <p>公開日：</p>
      <span id="view_time"></span>
    </div>

    <div>

      <h2><a href="">2番目の投稿</a></h2>
      <p>こんにちは！　よろしくお願いいたしますね！。</p>
      <p>Hi there!</p>
      <p>It works!</p>
  </body>
</html>

<script type="text/javascript">
document.getElementById("view_time").innerHTML = getNow();

function getNow() {
	var now = new Date();
	var year = now.getFullYear();
	var mon = now.getMonth()+1; //１を足すこと
	var day = now.getDate();
	var hour = now.getHours();
	var min = now.getMinutes();
	var sec = now.getSeconds();

	//出力用
	var s = year + "年" + mon + "月" + day + "日" + hour + "時" + min + "分" + sec + "秒";
	return s;
}
</script>
